*{
  box-sizing: border-box;
}


nav{
  display: flex;
  height: 90px;
  padding: 30px 25px;
  color: black;
  font-size: 25px;
}


body{
  background-color: #EAEAE9;
}

.main{
  text-align: center;
  margin: auto;
  color: black;
  width: 1500px;
  background-color: rgba(80, 112, 140, .5);
  height: 250px;
}

.main-nav{
  border-bottom: 3px solid #8c6DAB;
  margin: auto;
}

.main--title{
  font-size: 115px;
}

.main--content{
  font-size: 38px;
  margin-top: 15px;
}

.content{
  color: black;
  text-align: center;
}