.nav--logo_text, .nav--title{
    margin: 0;
  }

  .nav--items{
    align-items: center;
    margin-left: 17px;
    font-weight: 600;
    text-decoration: none;
    color:white;
  }

  .nav--items:visited {
    color:white
  }


  .nav--items:active {
    color: white
  }
  
  .nav--icon{
    height: 30px;
    margin-right: auto;
    text-decoration: none;
    color: white;
  }

  .sidebar-link{
    text-decoration: none;
    color:black;
  }

  .nav--icon:visited,.sidebar-link{
    color:white;
  }


  .nav--icon:active,.sidebar-link{
    color: white;
  }

  .sidebar{
    margin-right: 0;
    /* background-color: #000c24; */
    
  }
  .sidebar-menu-items{
    list-style-type: none;
      color: white;
      display: inline;
      margin: 0;
  }
  .sidebar-nav{
    padding: 10px;
    height: 100vh;
    width: 32vh;

    /* border-top-style: solid;  */
  }

  .sidebar-link{
    color: white;
  }
  .sidenav-text{
    margin-top: 15px;
    color: white;
  }

