.nav--logo_text, .nav--title{
    margin: 0;
  }

  .nav--items{
    align-items: center;
    margin-left: 17px;
    font-weight: 600;
    text-decoration: none;
    color:aqua;
  }

  .nav--items:visited {
    color:black;
  }

  .nav--items:hover {
    color: black;
    background-color: #8c6DAB;
    transition: 1s;
  }

  .nav--items:active {
    color: black;
  }
  
  .nav--icon{
    height: 30px;
    margin-right: auto;
    text-decoration: none;
    color:aqua;
  }

  .sidebar-link{
    text-decoration: none;
    color:black;
  }

  .nav--icon:visited,.sidebar-link{
    color:black;
  }

  .nav--icon:hover, .sidebar-link:hover{
    background-color: #8c6DAB;
    width: 100%;
    transition: 1s;
  }

  .nav--icon:active,.sidebar-link{
    color: black;
  }

  .sidebar-menu-items{
    list-style-type: none;
      color: white;
      display: inline;
      margin: 0;
  }
  .sidebar-nav{
    padding: 10px;
    height: 100vh;
    width: 32vh;
    border-top-style: solid;
    /* border-top-style: solid; */ 
    border-color: #8c6DAB;
    /* border-left-style: solid;
    border-right-style: solid; */
    /* border-style: solid; */

    /* z-index: 1; */
    /* top: 0;  */
    /* background-color: #FAFAFD */
    /* overflow-x: hidden;  */
    /* left: 0;
    position: relative; */
    /* padding-top: 60px;  */
    /* transition: 0.5s;  */
  }
  .sidenav-text{
    margin-top: 15px;
  }

