*{
  box-sizing: border-box;
}


nav{
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  color: aquamarine;
  font-size: 25px;
}

body{
  background-color: black;
}

.nav--logo_text, .nav--title{
  margin: 0;
}


.nav--items{

  margin-left: 17px;
  font-weight: 600;
  text-decoration: none;
}
.nav--items:visited {
  color:aqua
}

.nav--items:hover {
  color: aquamarine;
}

.nav--items:active {
  color: aquamarine;
}
.nav--items:visited {
  color:aqua
}

.nav--items:hover {
  color: aquamarine;
}

.nav--items:active {
  color: aquamarine;
}
.nav--icon{
  height: 30px;
  margin-right: auto;
  text-decoration: none;
}
.main{
  text-align: center;
  margin: auto;
  color: white;
  width: 1500px;
  background-color: rgba(80, 112, 140, .5);
  height: 250px;
}

.main--title{
  font-size: 115px;
}

.main--content{
  font-size: 38px;
  margin-top: 15px;
}